.imageViewer::-webkit-scrollbar {
    height: 2px;
  }

.imageViewer::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(94, 94, 94);
    border-radius: 50px;
}

.imageViewer::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 50px;
}

a {
    color: white;
}